* {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.cf::after {
  display: block;
  content: '';
  clear: both;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
}

.wrapper section {
  text-align: center;
}

.wrapper .sec1 .s1_block {
  width: 100%;
  max-width: 600px;
  margin: 40px auto 30px;
  /* background-color: #333333; */
}

.wrapper .sec1 .s1_block .s1_block_logo {
  width: 200px;
  height: 100px;
  background-color: #f00;
  display: block;
  margin: 0 auto;
}

.wrapper .sec1 .s1_block .s1_inputer {
  width: 95%;
  font-size: 18px;
  color: #333333;
  margin: 20px auto 0;
  display: block;
  padding: 17px 60px 15px 20px;
  box-sizing: border-box;
}

.wrapper .sec1 .s1_search{
  font-size: 18px;
  margin: 10px auto;
  color: #ffffff;
  background-color: #4caf50;
  display: inline-block;
  padding: 15px 100px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.wrapper .sec1 .s1_search:hover{
  background-color: #55bc59;
}
/* Section02 */
.wrapper .sec2 {
  padding-top: 40px;
}
.wrapper .sec2 .s2_block {
  width: 100%;
  max-width: 600px;
  border-bottom: 1px solid #dbdbdb;
  margin: 0 auto;
}

.wrapper .sec2 .s2_block .s2_block_nav {
  position: relative;
  width: 33.33%;
  padding: 15px 0 ;
  /* background-color: #dbdbdb; */
  display: inline-block;
  font-size: 20px;
  color: #999999;
  cursor: pointer;
}

.wrapper .sec2 .s2_block .js_active {
  color: #000000;
  font-weight: bolder;
}

.wrapper .sec2 .s2_block .js_active::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: '';
  display: inline-block;
  background-color: black;
  height: 3px;
  width: 100%;
}

/* Section03 */
.wrapper .sec3 {
  padding-top: 14px;
}

.wrapper .sec3 .s3_block {
  width: 100%;
  max-width: 1920px;
  /* height: 350px; */
  /* background-color: red; */
}

.wrapper .sec3 .s3_block .s3_block_left {
  margin-left: 1%;
  margin-right: 1%;
  width: 48%;
  /* background-color: blue; */
  float: left;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}

.wrapper .sec3 .s3_block .s3_block_left h1 {
  font-size: 28px;
  border-bottom: #000000 solid 1px;
  color: rgb(255, 98, 0);
}

.wrapper .sec3 .s3_block .s3_block_left li {
  padding: 5px 0px 0px 2px;
  border-bottom: #000 solid 1px;
  color: rgb(24, 23, 23);
  cursor: pointer;
  display: block;
  font-size: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 3px;
}

.wrapper .sec3 .s3_block .s3_block_left li:hover {
  color: rgb(0, 120, 249);
}

.wrapper .sec3 .s3_block .s3_block_right {
  margin-left: 1%;
  margin-right: 1%;
  width: 48%;
  height:395px;
  /* background-color:#f00; */
  float: right;
  background-image: url('img/—Pngtree—fast\ seconds\ hand\ pointer\ chronograph_5455087.png');
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: center;
}

/* Section04 */
.wrapper .sec4 .s4_block {
  width: 100%;
  height: 1000px;
}

.wrapper .sec4 .s4_block .textCloud1{
  width: 48%;
  height: 300px;
  padding: 0% 1%;
  box-sizing: border-box;
  background-size:contain;
  background-repeat: no-repeat;
  background-image: url('/qucikSearch/img/文字雲假圖.png');
  float: left;
  }

.wrapper .sec4 .s4_block .textCloud2 {
  width: 48%;
  height: 300px;
  padding: 0% 1%;
  background-size:contain;
  background-repeat: no-repeat;
  background-image: url('/qucikSearch/img/文字雲假圖.png');
  float: right;
}


/* RWD內容 */
@media all and (max-width:731px) {
  .wrapper .sec2 {
    padding-top: 0px;
    height: 75px;
    overflow: hidden;
  }

  .wrapper .sec2 .s2_block .s2_block_nav {
    padding: 28px 0 13px;
  }

  .wrapper .sec2 .s2_block .s2_nav1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .wrapper .sec2 .s2_block .s2_nav2 {
    position: absolute;
    left: 50%;
    transform: translateX(50%);
  }
  /* rwd超出畫面該如何處理 */
  .wrapper .sec2 .s2_block .s2_nav3 {
    position: absolute;
    left: 50%;
    transform: translateX(150%);
  }

  .wrapper .sec3 {
    padding: 0;
  }

  .wrapper .sec3 .s3_block .s3_block_left {
    width: 100%;
  }

  .wrapper .sec3 .s3_block .s3_block_left h1 {
    display: none;
  }

  .wrapper .sec3 .s3_block .s3_block_left li {
    padding: 5px 5px 1px 0;
  }


  .wrapper .sec3 .s3_block .s3_block_right {
    width: 100%;
  }

  .wrapper .sec4 .s4_block .textCloud1 {
    width: 100%;
  }

  .wrapper .sec4 .s4_block .textCloud2 {
    width: 100%;
  }
}