* {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.colorDiv {
  width: 500px;
  height: 500px;
  background-color: #0d1;
  transition: ease 3000ms;
}

.last {
  transition: color 3000ms ease 3000ms;
}