/* common */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  width: 100%;
  background-color: #f5f5f5;
}

.cf::after {
  display: block;
  content: ('');
  clear: both;
}

/* topber */
.tb {
  max-width: 1200px;
  width: 90%;
  height: 98px;
  z-index: 999;
  margin-right: auto;
  margin-left: auto;
  background: black;
  transform: translateX(-50%);
  position: fixed;
  left: 50%;
}

.tb-desktop {
  display: block;
}

.tb-rwd {
  display: none;
}

.tb a {
  display: inline-block;
  padding: 10px 0px;
  margin: 25px 20px;
  font-size: 18px;
  text-decoration: none;
  color: #888888;
  transition: color ease 400ms;
}

.tb a:hover {
  color: #ffffff;
}

.tb-left {
  float: left;
}

.tb-right {
  float: right;
}

.tb .tb-left-link1 {
  width: 60px;
  height: 49px;
  margin-left: 30px;
  text-indent: -999999px;
  box-sizing: border-box;
  background-size: cover;
  background-image: url('../images/logo_supercell.png');
}

#search {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  transition: opacity 0.4s;
  margin-top: 40px;
  text-indent: -9999px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/search-icon.png');
}

#search:hover {
  opacity: 1;
}

/* section1 */
.s1 {
  width: 100%;
  height: 443px;
}

.s1-bg {
  width: 1024px;
  height: 443px;
  margin-left: -512px;
  left: 50%;
  position: relative;
  z-index: 4;
  background-image: url('../images/bg_hero_frontpage.jpg');
}

.s1-t {
  height: 144px;
  width: 280px;
  left: 50%;
  top: 221.5px;
  margin-left: -140px;
  z-index: 5;
  position: absolute;
  font-size: 18px;
  text-align: center;
}

/* section2 */
.sec2 ul {
  width: 90%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  font-size: 0px;
  /* 影響圖片不能併排 */
  margin-top: 80px;
  margin-bottom: 80px;
}

.sec2 ul li {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}

.sec2 ul li a {
  width: 100%;
  display: inline-block;
}

.sec2 ul li .news-title {
  margin-top: 15px;
  margin-bottom: 5px;
  color: palevioletred;
}

.sec2 ul li span {
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
/* for-test */
/* .s2-news figure {
  overflow: hidden;
  width: 100%;
  height: 0px;
  padding-bottom: 75.29%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-left: auto;
  margin-left: auto;
  transition: transform 250ms ease,filter 1500ms ease;
  background-image: url('../images/news/news_tb2.jpg');
} */
/* for-test */

.s2-news figure {
  overflow: hidden;
}

.s2-news figure div {
  width: 100%;
  height: 0px;
  padding-bottom: 75.29%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: transform 250ms ease,filter 1500ms ease;
}

.s2-news figure div:hover{
  transform: scale(1.1);
  filter: brightness(1.3);
}

.sec2-news1 figure div {
  background-image: url('../images/news/news_tb1.png');
}

.sec2-news2 figure div {
  background-image: url('../images/news/news_tb2.jpg');
}
.sec2-news3 figure div {
  background-image: url('../images/news/news_tb3.jpg');
}

.sec2-news4 figure div {
  background-image: url('../images/news/news_tb4.jpg');
}

.sec2-news5 figure div {
  background-image: url('../images/news/news_tb5.jpg');
}

.sec2-news6 figure div {
  background-image: url('../images/news/news_tb6.jpg');
}

.s3 {
  position: relative;
  width: 100%;
  height: 594px;
  background-size: cover;
  background-position: center top;
  background-image: url('../images/bg_brawlstars.jpg');
}

.s3 .gameM {
  position: absolute;
  width: 392px;
  height: 504px;
  bottom: 0;
  margin-left: 120px;
  left: 50%;
  background-size: cover;
  background-image: url('../images/fp_brawlstars.png');
  /* 圖片大小怎麼算的？ */
}

.s3 .gameI {
  width: 510px;
  color:#ffffff;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 150px;
  margin-left: -576px;
  /* width: 590px;
  margin-left: 230px;
  padding-top: 190px; */
  /* 這個應該可以不用用position的方式對吧？不過position應該是比較專業的做法？ */
  /* ANS會跑版 */
}

.s3 .gameI > span {
  display: block;
  margin-top: 10px;
}

.s3 .gameI .gameTT {
  font-size: 40px;
  font-weight: bolder;
}

.s3 .gameI >a {
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  color: black;
  padding: 10px 25px ;
  border-radius: 15px;
  margin-top: 30px;
}

/* section4 */
.s4 {
  width: 100%;
  height: 594px;
  background-image: url('../images/bg_fp.jpg');
  position: relative;
  background-position: center;
  background-size:auto 100%;
  background-repeat: no-repeat;
  background-color: #09090b;
}
/* 圖片底下有黑線，該如何清除？ 然後背景要如何自動縮放？*/
.s4 .s4-I {
  font-size: 20px;
  width: 580px;
  position: absolute;
  left: 50%;
  top: 30%;  
  color: #ffffff;
}

.s4 .s4-I .s4-TT {
  font-size: 40px;
  font-weight: bolder;
}

.s4 .s4-I > span {
  display: block;
  margin-top: 10px;
}

.s4 .s4-I > a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px 25px;
  margin-top: 30px;
}
/* footer */
footer {
  background-color: black;
  color: #ffffff;    
  width: 100%;
}

/* ft-l */
.ft-tp {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  border-bottom: 1px solid #333 ;
}

.ft-l {
  margin: 80px 0px 20px;
  /* float: left; */
  display: inline-block;
}

.ft-l > ul {
 margin-top: 20px;
}

.ft-l li {
  display: inline-block;
}

.ft-l a {
  margin-right:10px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.ft-l-icon1 a { 
  width: 30px;
  height: 22px;
  background-image: url('../images/icons/some_youtube.png');
}

.ft-l-icon2 a {
  width: 23px;
  height: 23px;
  background-image: url('../images/icons/some_facebook.png');
}

.ft-l-icon3 a {
  width: 27px;
  height: 23px;
  background-image: url('../images/icons/some_twitter.png');
}
.ft-l-icon4 a {
  width: 23px;
  height: 23px;
  background-image:url('../images/icons/some_instagram.png');
}

.ft-l-icon5 a {
  width: 23px;
  height: 23px;
  background-image: url('../images/icons/some_linkedin.png');
}

.ft-l-icon6 a {
  width: 28px;
  height: 23px;
  background-image: url('../images/icons/some_glassdoor.png');
}
/* ft-r */
.ft-r {
  margin: 100px 0px 20px;
  float: right;
}

.ft-r a {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.AP {
  width: 166px;
  height: 49px;
  background-image: url('../images/icons/footer_googleplay.png');
}

.IP {
  width: 147px;
  height: 49px;
  background-image: url('../images/icons/footer_appstore.png');
}

/* ft-bt */
.ft-bt {
  width: 90%;
  /* height: 300px;  為了日後好調整 */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 30px;
}

.ft-bt-t {
  padding: 20px 0px;
}

.ft-bt-t > li {
  margin-right: 10px;
  display: inline-block;
}

.ft-bt-t a {
  text-decoration: none;
  color: rgb(110, 109, 109);
}

.ft-bt-t a:hover {
  color: #ffffff;
  text-decoration: #ffffff77 underline;
  transition: ease 200ms;
}

.ft-bt-b {
  color: #333;
}

.ft-bt-b li {
  margin: 3px 0px;
  font-size: 14px;
}

.ft-bt-icon {
  /* float: right; */
  position: absolute;
  right: 8px;
  bottom: 38px;
  width: 60px;
  height: 49px;
  background-size: contain;
  background-image: url('../images/logo_supercell.png');
}

/* tablet */
@media all and (min-width:731px) and (max-width:1279px) {
  .tb {
    width: 100%;
    max-width: 994px;
  }

  .tb-desktop {
    display: none;
  }
  
  .tb-rwd {
    display: block;
  }

  .tb-rwd .tb-right {
    padding: 0 20px;
  }

  .tb-rwd .tb-sub-menu {
    position: fixed;
    background-color: #222222;
    width: 100%;
    /* height: 200px; */
    top: 97px;
  }

  .tb-rwd .tb-sub-menu nav{
    border-bottom: 1px solid #2f2f2f;
  }

  .tb-rwd .tb-sub-menu nav a {
    box-sizing: border-box;
    margin: 0;
    padding: 25px 30px;
    width: 100%;
  }

  .tb a {
    padding: 10px 0px;
    margin: 25px 15px;
    font-size: 15px;    
  }

  .s1-bg {
    width: 100%;
    top: 50px;
    max-width: 768px;
    height: 332px;
    margin-left: 0;
    background-size: cover;
    transform: translateX(-50%);
  }

  .s1-t {
    width: 240px;
    top: 160px;
    margin-left: -120px;    
    font-size: 15px;
  }

  .s1 {
    height: auto;
  }

  .sec2 ul li {
    padding: 0 15px 60px;
  }

  .sec2 ul li span {
    padding: 0 15px;
  }

  .sec2 ul {
    margin-bottom: 20px;
  }

  .s3 {
    height: 370px;
  }

  .s3 .gameM {
    width: 280px;
    height: 359px;
    margin-left: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .s3 .gameI {
    font-size: 15px;
  }

  .s3 .gameI {
    width: 280px;
    font-size: 15px;
    top: 95px;
    margin-left: -316px;
  }

  .s3 .gameI .gameTT {
    font-size: 26px;
  }

  .s4 {
    height: 345px;
  }

  .s4 .s4-I {
    font-size: 15px;
    width: 300px;
  }

  .s4 .s4-I {
    font-size: 15px;
    width: 300px;
    top: 84px;
  }

  .s4 .s4-I .s4-TT {
    font-size: 26px;
    font-weight: bolder;
  }

  .ft-bt-t > li {
    margin-right: 7px;
    font-size: 13px;
  }
}

/* @media all and (min-width:1023px) and (max-width:1279px) {
  } */